<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 销售报价MapperXml-->
<mapper namespace="com.example.mapper.sales.SalesQuotationMapper">

  <!-- 查询正式客户 -->
  <select id="queryClientMasterfile" resultType="com.example.pojo.procurement.Client_masterfile">
    SELECT ID,ShortName FROM `t_client_masterfile`;
  </select>

  <!-- 查询正式客户地址 -->
  <select id="queryClientMasterfileAddress" resultType="com.example.pojo.procurement.Client_masterfile_address">
    SELECT AddrID,Address FROM `t_client_masterfile_address` WHERE AddressID=#{addressid};
  </select>

  <!-- 查询潜在客户 -->
  <select id="queryPotentialClientFile" resultType="com.example.pojo.procurement.Client_masterfile">
    SELECT ID,ShortName FROM `t_potential_client_master_file`;
  </select>

  <!-- 查询潜在客户地址 -->
  <select id="queryPotentialClientFileAddress" resultType="com.example.pojo.gongyong.TPotentialClientMasterFileAddress">
    SELECT AddrID,Address FROM `t_potential_client_master_file_address` WHERE AddressID=#{addressid};
  </select>

  <!--按日期查询做大订单号-->
  <select id="queryMaxQuId" resultType="java.lang.Long">
    SELECT MAX(`quId`) FROM `s_sell_quote` WHERE `quDate`=#{dateStr};
  </select>

  <resultMap id="SSellQuoteMap" type="com.example.pojo.sales.SSellQuote">
    <id column="quId" property="quId"/>
    <collection property="sSellQuoteparticulars" column="quId" select="querySSellOrderparticular">
      <id column="opaLineId" property="opaLineId"></id>
    </collection>
  </resultMap>
  <select id="querySSellOrderparticular" resultType="com.example.pojo.sales.SSellQuoteparticular">
      SELECT * FROM `s_sell_quoteparticular` WHERE qpQuid=#{0}
  </select>


  <select id="querySellQuoteCount" resultType="int">
    SELECT COUNT(*) FROM `s_sell_quote`;
  </select>
  <select id="querySellQuote" resultMap="SSellQuoteMap">
    SELECT * FROM `s_sell_quote` ORDER BY `quId` DESC  LIMIT #{pageSize},1;
  </select>

  <delete id="delSalesQuotation">
    DELETE FROM `s_sell_quoteparticular` WHERE `qpQuid` = #{quid};
    DELETE FROM `s_sell_quote` WHERE `quId` = #{quid};
  </delete>

  <!--主从新增销售报价单-->
    <insert id="saveSalesQuotation">
        INSERT INTO `navigator`.`s_sell_quote` (
          `quId`,            <!--1、单据号码-->
          `quCid`,           <!--2、客户编号id-->
          `quCname`,         <!--3、客户名称-->
          `quCtype`,          <!--客户类别-->
          `quCaddressId`,     <!--4、送货地址id（客户表中带出）-->
          `quCaddress`,      <!--4、送货地址（客户表中带出）-->
          `quDate`,          <!--5、单据日期-->
          `quEffectdate`,    <!--6、有效日期-->
          `quPricetax`,      <!--7、单价是否含税 (1代表是0代表否)-->
          `quMoneytype`,     <!--8、币别-->
          `quExchangerate`, <!--9、汇率-->
      <!--`quPeoyw_id`,      10、业务人员id-->
          `quPeoywName`,    <!--11、业务人员名称-->
      <!-- `quEmp_id`,        12、所属部门id-->
          `quEmpName`,      <!--13、所属部门名称-->
      <!--`quPerzd_id`,      14、制单人员id-->
          `quPerzdName`,    <!--15、制单人员名称-->
      <!--`quPerck_id`,      16、审核人员id-->
          `quPerckName`,    <!--17、审核人员name-->
          `quCheckstatus`    <!--18、是否审核  (1代表审核，0代表未审核)-->
        )
        VALUES
          (
            #{sSellQuote.quId},
            #{sSellQuote.quCid},
            #{sSellQuote.quCname},
            #{sSellQuote.quCtype},
            #{sSellQuote.quCaddressId},
            #{sSellQuote.quCaddress},
            #{sSellQuote.quDate},
            #{sSellQuote.quEffectdate},
            #{sSellQuote.quPricetax},
            #{sSellQuote.quMoneytype},
            #{sSellQuote.quExchangerate},
            #{sSellQuote.quEmpName},
            #{sSellQuote.quPerzdName},
            #{sSellQuote.quPerckName},
            #{sSellQuote.quEmpName},
            #{sSellQuote.quCheckstatus}
          ) ;
      <if test="sSellQuote.sSellQuoteparticulars.size != 0">
        INSERT INTO `navigator`.`s_sell_ quoteparticular` (
        `qpQuid`,  <!--单据号码-->
        `qpMaterielid`,  <!--物料编号-->
        `qpMaterielname`,  <!--物料名称-->
        `qpModel`,  <!--规格型号-->
        `qpUnitname`,  <!--单位名称-->
        `qpNumber`,  <!--数量-->
        `qpDiscountprice`,  <!--折扣前单价-->
        `qpDiscount`,  <!--折数-->
        `qpPrice`,  <!--单价-->
        `qpSum`,  <!--金额-->
        `qpRate`,  <!--税率-->
        `qpTatemoney`,  <!--税额-->
        `qpTotalmoney`,  <!--含税金额-->
        `qpLargess`,  <!--赠品  （1代表是、0代表否）-->
        `qpRemark`  <!--备注-->
        )
        VALUES
        <foreach collection="sSellQuote.sSellQuoteparticulars" item="temp"
                 separator=",">
          (
          #{sSellQuote.qpQuid},
          #{temp.qpMaterielid},
          #{temp.qpMaterielname},
          #{temp.qpModel},
          #{temp.qpUnitname},
          #{temp.qpNumber},
          #{temp.qpDiscountprice},
          #{temp.qpDiscount},
          #{temp.qpPrice},
          #{temp.qpSum},
          #{temp.qpRate},
          #{temp.qpTatemoney},
          #{temp.qpTotalmoney},
          #{temp.qpLargess},
          #{temp.qpRemark}
          )
        </foreach>
        ;
      </if>

    </insert>
</mapper>
