<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 盘点单MapperXml-->
<mapper namespace="com.example.mapper.inventory.InventoryMapper">

    <!--查询盘点单中的一条数据+分页-->
    <select id="selectcl" resultType="com.example.pojo.account.yxppojo.checklist">
        select 	clId,
        cldate,
        warehouseId,
        pandianuserId,
        departmentId,
        zhidanuserId,
        fuheuserId
        from
        navigator.checklist
        group by cldate desc
        limit #{currpage}, 1;
    </select>
    <!--查询盘点单中的总记录数-->
    <select id="selectckcount" resultType="java.lang.Integer">
        select 	count(*)
        from
        navigator.checklist
    </select>

    <!--查询盘点明细表-->
    <select id="selectcd" resultType="com.example.pojo.account.yxppojo.checkdetailed">
       select 	cd.clId,
        cd.columnId,
        cd.materielId,
        cd.zhangmianCount,
        cd.pandianCount,
        cd.price,
        cd.yingkuiPrice,
        cd.cause,
        cd.yingkuiCount,
        ma.BianHao as 'ma.BianHao',
        ma.Name as 'ma.Name',
        ma.Model as 'ma.Model',
        ma.JilLiangDanWei as 'JilLiangDanWei'
        from
        navigator.checkdetailed as cd
	inner join master as ma on(cd.materielId=ma.Id)
        where clId = #{clid}
    </select>

    <update id="updatecd" parameterType="com.example.pojo.account.yxppojo.checkdetailed">

  update navigator.checkdetailed
	set
	materielId = #{materielId} ,
	zhangmianCount = #{zhangmianCount} ,
	pandianCount = #{pandianCount} ,
	price = #{price} ,
	yingkuiPrice = #{yingkuiPrice} ,
	cause = #{cause},
    yingkuiCount =  #{yingkuiCount}

	where
	clId = 'clId' and columnId = #{columnId} ;

    </update>

    <insert id="addck">
insert into navigator.checklist
	(clId,
	cldate,
	warehouseId,
	pandianuserId,
	departmentId,
	zhidanuserId,
	fuheuserId
	)
	values
	(#{cl.clId},
	#{cl.clDate},
	#{cl.warehouseId},
	#{cl.pandianuserId},
	#{cl.departmentId},
	#{cl.zhidanuserId},
	#{cl.fuheuserId}
	);

    </insert>
    <insert id="addcd">

insert into navigator.checkdetailed
	(clId,
	columnId,
	materielId,
	zhangmianCount,
	pandianCount,
	yingkuiCount,
	price,
	yingkuiPrice,
	cause
	)
	values
	(#{clid},
	#{cd.columId},
	#{cd.materielId},
	#{cd.zhangmianCount},
	#{cd.pandianCount},
	#{cd.yingkuiCount},
	#{cd.price},
	#{cd.yingkuiPrice},
	#{cd.cause}
	);

    </insert>

	<select id="queryDocumentsDate" resultType="Long">
		SELECT MAX(clId) FROM navigator.checklist  WHERE clId =#{documentsdate};
	</select>


</mapper>
